.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  border: 6px solid var(--border-cards-color);
  border-radius: 7%;
  padding: 1.5%;
  margin: 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 60vh;
  animation-range: entry 0% cover 20%;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);

  & .tools:first-of-type {
    padding: 5%;
    text-align: center;
  }
}

@keyframes appearCards {
  from {
    opacity: 0.3;
    scale: 0.9;
    transform: translateY(-10%);
    transform: translateX(-15%);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0%);
    transform: translateX(0%);
  }
}

.title {
  font-size: 25;
  font-weight: 600;
  padding-bottom: 8px;
  border-bottom: 4px solid var(--border-cards-color);
  margin-top: 5px;
  margin-bottom: 15px;
  & > a:first-of-type {
    color: var(--border-cards-color);
    text-decoration-color: var(--border-cards-color);
  }
  & :hover {
    filter: brightness(3);
  }
}

.content {
}
